<div class="container pt-5">
  <div class="row center">
    <div class="col-6">
      <img src="1.png" class="img-fluid w-50 pb-3" alt="" />
      <button class="btn btn-secondary btn-style" href="https://kiwanoswap.io">TRADE WANO TOKEN!</button>
    </div>
    <div class="col-6">
      <img src="2.png" class="img-fluid w-50 pb-3" alt="" />
      <button class="btn btn-secondary btn-style" href="https://kiwanoproject.com/buy">BUY WANO TOKEN!</button>

    </div>
  </div>
</div>

<div class="airdrop-success-msg mt-4">
  <%- include ('./partials/messages') %>
</div>
<section id="how-to-participate">
  <div class="container">
    <h2 class="center">how to participate in the airdrop program</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header faq-heading" id="headingOne">
          <button
            class="accordion-button no-box-shadow"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            How to participate?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p id="time" class="center"></p>

            <P
              >Follow us on Twitter:
              <a href="https://twitter.com/projectkiwano"
                >https://twitter.com/projectkiwano</a
              ></P
            >

            <P
              >Join the Telegram group:
              <a href="https://t.me/the_kiwano_project_group"
                >https://t.me/the_kiwano_project_group</a
              >
              (<span class="color-text-2">optional</span>)</P
            >

            <P
              >Join the Telegram announcements channel:
              <a href="https://t.me/the_kiwano_project"
                >https://t.me/the_kiwano_project</a
              >
            </P>

            <P
              >Like and RT the Tweet pinned on the twitter profile tagging 2
              friends using the hashtags #kiwanoairdrop #kiwanocrowdsale</P
            >

            <p>Submit your details via the participate form.</p>
            <p class="complimentary-color">
              To see your referral link, referrals and balance. Paste your
              wallet address in the details form and hit search.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="participate">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2 class="center mt-3">participate</h2>
        <div class="container">
          <form method="post" action="/">
            <label for="email" class="form-label">Email address</label>
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="far fa-envelope"></i
              ></span>
              <input
                type="email"
                class="form-control input"
                id="email"
                name="email"
                placeholder="JohnDoe@anonymous.com"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <label for="wallet" class="form-label">Wallet: </label>
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fas fa-wallet"></i
              ></span>
              <input
                type="text"
                name="wallet"
                id="wallet"
                class="form-control input"
                placeholder="BSC Address"
                pattern="0x+[A-F, a-f, 0-9]{40}"
                required
              />
            </div>
            <label for="twitter" class="form-label">Twitter: </label>
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fab fa-twitter"></i
              ></span>
              <input
                type="text"
                name="twitter"
                class="form-control input"
                id="twitter"
                placeholder="@JohnDoe"
                pattern="@+[A-Z, a-z, 0-9, _, -]{1,20}"
                required
              />
            </div>
            <label for="telegram" class="form-label">Telegram: </label>
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fab fa-telegram-plane"></i
              ></span>
              <input
                type="text"
                name="telegram"
                class="form-control input"
                id="telegram"
                placeholder="@JohnDoe"
                pattern="@+[A-Z, a-z, 0-9, _, -]{1,20}"
                required
              />
            </div>
            <div class="mb-3 d-none">
              <label for="referre" class="email-label">Referre: </label>
              <input
                type="text"
                name="referre"
                id="referre"
                class="form-control input"
                value="<%= referre %>"
              />
            </div>
            <button type="submit" class="btn btn-style form-control">
              Submit
            </button>
          </form>
        </div>
        <h2 class="center pt-5 pb-2">details</h2>
        <div class="container">
          <form action="/" method="get">
            <label for="wallet" class="form-label">Wallet: </label>
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fas fa-wallet"></i
              ></span>
              <input
                type="text"
                name="wallet"
                id="wallet"
                class="form-control input"
                placeholder="BSC Address"
                pattern="0x+[A-F, a-f, 0-9]{40}"
              />
            </div>

            <button type="submit" class="btn btn-style form-control">
              Search
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container">
    <div class="participant-details">
      <div class="row">
        <div class="col-md-6">
          <P>
            Referral Link:
            <span id="text_to_copy" class="lowercase"
              >https://kiwanoproject.com/<%= refLink %></span
            ><span class="copy-button"
              ><button id="copy_button" class="btn btn-copy-style">
                Copy
              </button></span
            ></P
          >
        </div>
        <div class="col-md-3">
          <p>refered: <%= refNum.length %></p>
        </div>
        <div class="col-md-3">
          <p>balance: <%= refNum.length * 10 + balance %> WANO</p>
        </div>
      </div>
    </div>
  </div>
</section>
