<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content ="<%= description %>"/>
    <%- include ('./partials/header') %>
    <title><%= title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYLNJPMXFP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZYLNJPMXFP');
</script>
  </head>
  <body>
    <div id="loader"><div class="lds-hourglass"></div></div>
    <nav id="navbar" class="navbar sticky-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Kiwano</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#ecosystem">ecosystem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/airdrop">airdrop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-3" href="/#faq">faq</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-3 blink" href="/buy">buy now!</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-default btn-download-style"
                href="/files/whitepaper.pdf"
                >whitepaper</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%- body %>
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="container">
              <img
                src="/images/kiwano-logo-without-text.png"
                class="footer-logo img-fluid"
                alt="#"
              />
              <p>
                The Kiwano project is an initiative to aid the real-world usage
                and adoption of cryptocurrencies and blockchain technology.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="container-fluid">
              <ul>
                <li class="list-header">resources</li>
                <li>
                  <a href="/#hero"><i class="fas fa-chevron-right"></i> home</a>
                </li>
                <li>
                  <a href="/#about"
                    ><i class="fas fa-chevron-right"></i> about</a
                  >
                </li>
                <li>
                  <a href="/#ecosystem"
                    ><i class="fas fa-chevron-right"></i> ecosystem</a
                  >
                </li>
                <li>
                  <a href="/#faq"><i class="fas fa-chevron-right"></i> faq</a>
                </li>
                <li>
                  <a href="/buy" class="blink"><i class="fas fa-chevron-right"></i> Buy Now!</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="container-fluid">
              <ul>
                <li class="list-header">other links</li>
                <li>
                  <a href="/airdrop">
                    <i class="fas fa-chevron-right"></i> airdrop
                  </a>
                </li>
                <li>
                  <a href="/files/whitepaper.pdf">
                    <i class="fas fa-chevron-right"></i> whitepaper</a
                  >
                </li>
                <li>
                  <a href="/branding">
                    <i class="fas fa-chevron-right"></i> branding
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="container-fluid">
              <ul>
                <li class="list-header">socials</li>
                <li>
                  <a href="https://t.me/the_kiwano_project">
                    <i class="fas fa-chevron-right"></i> telegram
                    <span class="footer-icon"
                      ><i class="fab fa-telegram-plane"></i
                    ></span>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/projectkiwano">
                    <i class="fas fa-chevron-right"></i> twitter
                    <span class="footer-icon"
                      ><i class="fab fa-twitter"></i></span
                  ></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCrMOgQtYmCXanAhHyadLyiQ">
                    <i class="fas fa-chevron-right"></i> youtube
                    <span class="footer-icon"
                      ><i class="fab fa-youtube"></i></span
                  ></a>
                </li>
                <li>
                  <a href="https://bitcointalk.org/index.php?action=profile;u=3429152;sa=showPosts">
                    <i class="fas fa-chevron-right"></i> bitcointalk
                    <span class="footer-icon"
                      ><i class="fab fa-bitcoin"></i></span
                  ></a>
                </li>
                <li>
                  <a href="https://kiwanoproject.medium.com">
                    <i class="fas fa-chevron-right"></i> medium
                    <span class="footer-icon"
                      ><i class="fab fa-medium-m"></i></span
                  ></a>
                </li>
              </ul>
            </div>
            <div class="container-fluid">
              <ul>
                <li class="list-header">Contact Us</li>
                <li>
                  <a class="lowercase" href="mailto:contact@kiwanoproject.com">
                    contact@kiwanoproject.com</a
                  >
                </li>
                <li>
                  <a class="lowercase" href="mailto:advert@kiwanoproject.com">
                    advert@kiwanoproject.com</a
                  >
                </li>
                <li>
                  <a class="lowercase" href="mailto:press@kiwanoproject.com">
                    press@kiwanoproject.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p class="copyright">&copy 2021. kiwano project</p>
    </section>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/61d40e993d23fa26e870ecfe/1foi5i2hc';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  
    <%- include ('./partials/footer') %>
  </body>
</html>
